<div class="openingDiv">
  <img src="assets/images/logo_white.svg" alt="not working" class="logo" />
  <hr />
  <div class="container">
    <h1>Reset you Password</h1>
    <h3>
      Please enter your username to receive your reset password link via email
    </h3>
  </div>
  <form [formGroup]="resetForm" id="form" (ngSubmit)="onSubmit()">
    <div class="form-group block">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          id="username"
          type="text"
          name="username"
          formControlName="username"
          required
        />
        <span
          *ngIf="
            !resetForm.get('username').valid &&
            resetForm.get('username').touched
          "
          class="helpMsg"
          >Please enter a valid email</span
        >
      </div>
    </div>
  </form>
  <div class="contact-link">
    <p class="p1">
      If you forgot your username, please
      <a routerLink="/">contact us.</a>
    </p>
  </div>
  <div class="buttonDiv">
    <button class="btn btn-submit" (click)="onSubmit()">
      Reset my password
    </button>
  </div>
</div>
