.main-header {
  width: 100%;
  background-color: black;
  padding: 8px 16px;
  margin: 0;
}

.main-header,
.div1 {
  display: inline-block;
  vertical-align: middle;
}

.main-nav {
  display: inline-block;
  text-align: center;
  margin-left: 300px;
  width: calc(100% - 80px);
  width: auto;
  vertical-align: middle;
  margin: 0;
}

.main-nav__items {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  color: white;
  margin: 0 16px;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.logo {
  padding: 10px;
  margin-left: 70px;
  margin-top: 7px;
}

a:hover {
  /* background-color: #474545; */
  color: grey;
}

a:active {
  background-color: #474545;
}
