<div class="main-header">
  <div class="div1">
    <img src="assets/images/logo dark.png" class="logo" />
  </div>
  <nav class="main-nav">
    <div *ngIf="userType === 'user'; else elseBlock">
      <ul class="main-nav__items">
        <li class="main-nav__item">
          <a href="">Transactions</a>
        </li>
      </ul>
    </div>
    <ng-template #elseBlock>
      <ul class="main-nav__items">
        <li class="main-nav__item">
          <a href="">Transactions</a>
        </li>
        <li class="main-nav__item">
          <a href="">Fundings</a>
        </li>
        <li class="main-nav__item">
          <a href="">User Management</a>
        </li>
      </ul>
      <div class="btns">
        <button class="btn btn-docs">Docs</button>
      </div>
      <div class="btns">
        <button class="btn btn-acc">My Account</button>
      </div>
    </ng-template>
  </nav>
</div>
