.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

nav ul li a {
  font-size: 1.1rem;
  font-weight: 600;
}

#btnAcc {
  position: relative;
  color: white;
  font-weight: bold;
  background-color: #ff6600;
  margin-right: 20px;
}

#btnDocs {
  border-style: solid;
  border-color: white;
  background-color: black;
  margin-right: 25px;
}

a {
  color: black;
  padding: 10px;
}

#dropMenu {
  width: 20px;
}
