<div class="openingDiv">
  <img src="assets/images/logo_white.svg" alt="not working" class="logo" />
  <hr />

  <div class="container-fluid">
    <h1>Sign in</h1>
    <div *ngIf="message" class="alert alert-danger alert-dismissible fade show" role="alert">
      <span>Username or Password wrong!You had {{loginCounter}} failed login attempts.
        More than 3 failed attempts will deactivate your account for scurity reasons.
        you can rest your password by clicking on "Forget Your Password" .
      </span>
    </div>
    <div *ngIf="message1" class="alert alert-danger alert-dismissible fade show" role="alert">
      <span>you are locked .
      </span>
    </div>
  </div>
  <form [formGroup]="signInForm">

    <div class="form-group">
      <div class="form-group block">
        <label for="username">Username</label>
        <input id="username" type="text" name="username" formControlName="username" />
        <span *ngIf="
            !signInForm.get('username').valid &&
            signInForm.get('username').touched
          " class="helpMsg">Please enter a valid username</span>
      </div>
    </div>
    <div>
      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" formControlName="password" />
        <span *ngIf="
            !signInForm.get('password').valid &&
            signInForm.get('password').touched
          " class="helpMsg">Please enter a valid password</span>
      </div>
    </div>
  </form>
  <div class="password">
    <a routerLink="/resetPassword" class="p1">Forgot your password?</a>
  </div>
  <div class="buttonDiv">
    <button class="btn btn-login" (click)="login()">Login</button>
  </div>
  <div class="registerLink">
    <p class="p2">
      First time at Portal? <a routerLink="/register">Register</a>
    </p>
  </div>
</div>
<!-- </body> -->