.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: auto;
  mix-blend-mode: multiply;
}

/* .blocktext {
  margin-left: auto;
  margin-right: auto;
  width: 8em;
} */

.btn-login {
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 10rem; */
  background-color: #ff6600;
  color: white;
  width: 450px;
  font-size: 20px;
}

.block {
  align-items: center;
  max-width: 510px;
  /* padding-bottom: 10%; */
  margin: auto;
  display: block;
  padding-top: 15%;
}

label {
  display: block;
  font-weight: bold;
}

input {
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: 42px;
  padding: 5px;
}

h1 {
  display: block;
  margin: auto;
  font-size: 25px;
  font-weight: bold;
  width: auto;
  text-align: center;
}

.p1 {
  font-size: 12px;
  color: #ff6600;
  font-weight: bold;
  text-align: left;
  /* margin-bottom: 70px; */
}

.p2 {
  /* display: block; */
  /* padding-bottom: 200px; */
  font-size: 12px;
  text-align: centre;
  /* padding-top: 20%; */
}

head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(244, 244, 244);
}

a {
  font-size: 12px;
  color: #ff6600;
  font-weight: bold;
}

hr {
  height: 2px;
  max-width: 510px;
  background-color: #d9d5ca;
  width: 50%;
}

.openingDiv {
  background-color: rgb(244, 244, 244);
  height: 950px;
  /* width: 1950px; */
  /* height: auto; */
  width: auto;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
}

body {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(244, 244, 244);
  flex-direction: column;
  margin: 0;
  /* min-height: 100%; */
}

.buttonDiv,
.password {
  padding: 15px;
}

.helpMsg {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  color: red;
}
