<app-header></app-header>
<!-- <body>
  <header class="main-header">
    <div class="div1">
      <img src="assets/images/logo dark.png" class="logo" />
    </div>
    <nav class="main-nav">
      <ul class="main-nav__items">
        <li class="main-nav__item">
          <a href="">Transactions</a>
        </li>
        <li class="main-nav__item">
          <a href="">Fundings</a>
        </li>
        <li class="main-nav__item">
          <a href="">User Management</a>
        </li>
      </ul>
    </nav>
  </header>
</body> -->
